<IfModule mod_rewrite.c>
	RewriteEngine on
	#RewriteBase /
    RewriteBase /bimbel/
#Ganti dengan alamat path jika site bukan root

	RewriteRule ^$ /bimbel/index\.php [L]
	RewriteCond $1 !^(index\.php|docs|__assets|__Company|__repository|favicon\.ico)
	RewriteRule ^(.*)$ /bimbel/index.php?/$1 [L]
	php_value upload_max_filesize 100M
	php_value post_max_size 100M
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 402 /bimbel/index\.php
</IfModule>
