<footer id="footer-area">
				<!-- Start Footer Top Area -->	
				<div class="footer-top-area bg-1 overlay-bg padding50">
					<div class="container">
						<div class="row">
							<div class="newsletter">
								<div class="col-md-6 col-md-offset-3 text-center">
									<div class="footer-logo">
										<!--a href="index.html"><img src="img/logo/1.png" alt="Logo" /></a-->
									</div>
									<div class="newsletter-form">
										<form action="#" method="get">
											<input class="email-box" type="email" name="email" id="email" placeholder="Masukan Email.."/>
											<button type="submit"><i class="fa fa-envelope-o"></i></button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-4">
								<div class="footer-top-menu">
									<h3 class="widget-title">TENTANG BIMBEL GURU AHLI</h3>
									<div class="fo-aboutus-container">
										<p>Bimbel Guru Ahli adalah Portal Belajar Online dengan Bahan Ajar yang di sesuaikan dengan Kurikulum Nasional dari Kementerian Pendidikan Dan Kebudayaan Republik Indonesia</p>
										
										<div class="footer-social-bookmark">
											<ul>
												<li><a target="_blank" href="#" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
												<li><a target="_blank" href="#" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
												<li><a target="_blank" href="#" class="google-plus"><i class="fa fa-google-plus-square"></i></a></li>
												<li><a target="_blank" href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
												<li><a target="_blank" href="#" class="behance"><i class="fa fa-behance-square"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-md-6 col-sm-4">
								<div class="footer-top-menu">
									<h3 class="widget-title">ALAMAT</h3>
									<div class="blog-flickr">
										<address>
											<p><strong>Kota :</strong> Jakarta</p>
											<p><strong>Email : </strong><a href="mailto:admin@bootexperts.com ">admin@guruahli.com </a></p>
											<p><strong>HP : </strong><a href="tel:+8801973833508">0838888121</a></p>
										</address>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Footer Top Area -->	
				<!-- Start Footer Bottom Area -->	
				<div class="footer-bottom-area">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="copyright-wrap text-center">
									<p>&copy; 2016 <a href="http://bootexperts.com/">Yogi Patrya N.</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Footer Bottom Area -->	
			</footer>