<section class="slider-area">
				<div class="bend niceties preview-2">
					<div id="ensign-nivoslider" class="slides">	
						<img src="{$host}__assets/template/img/sliders/sakola3.jpg" alt="" title="#slider-direction-1"  />
						<img src="{$host}__assets/template/img/sliders/sakola2.jpg" alt="" title="#slider-direction-2"  />
					</div>
					<!-- direction 1 -->
					<div id="slider-direction-1" class="slider-direction slider-one">
						<div class="container">
							<div class="row">
								<div class="col-md-12 text-right">
									<div class="slider-content">
										<!-- layer 1 -->
										<div class="layer-1-1">
											<h5 class="title1">Guru Ahli.Com</h5>
										</div>
										<!-- layer 2 -->
										<div class="layer-1-2">
											<h5 id="word" class="title2"><span>Cerdas</span> <span>Pangkal</span> <span>Pandai</span></h5>
										</div>
										<!-- layer 3 -->
										<div class="layer-1-3">
											<p class="title3">Metode Pembelajaran Online. <br />SD,SLTP dan SLTA/SMK</p>
										</div>
										<!-- layer 4 -->
										
										<div class="layer-1-4">
											{if $auth.nama_user|default:''}
											<a href="{$host}keluar" class="estut-btn active">Keluar/LogOut</a>
											{else}
											<a href="{$host}registrasi" class="estut-btn active">Daftar</a>
											<a href="{$host}login" class="estut-btn" >Masuk</a>
											
											{/if}
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- direction 2 -->
					<div id="slider-direction-2" class="slider-direction slider-two">
						<div class="container">
							<div class="row">
								<div class="col-md-12 text-left">
									<div class="slider-content">
										<!-- layer 1 -->
										<div class="layer-2-1">
											<h5 class="title1">Materi Secara Online</h5>
										</div>
										<!-- layer 2 -->
										<div class="layer-2-2">
											<h5 class="title2">Pembelajaran Online</h5>
										</div>
										<!-- layer 3 -->
										<div class="layer-2-3">
											<p class="title3">ISI Atau Deskripsi Tentang <br />Guru Ahli.com</p>
										</div>
										<!-- layer 4 -->
										<div class="layer-2-4">
											{if $auth.nama_user|default:''}
											<a href="{$host}keluar" class="estut-btn active">Keluar/LogOut</a>
											{else}
											<a href="{$host}registrasi" class="estut-btn active">Daftar</a>
											<a href="{$host}login" class="estut-btn" >Masuk</a>
											
											{/if}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Start Intro Courses Area -->
			<section class="intro-courses-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="intro-courses-container">
								<!-- Start Intro Courses Nav  -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
										<a href="#online" aria-controls="online" role="tab" data-toggle="tab">
										<div class="est-icon">SD<!--img src="img/icon/1.png" alt="icon" /--></div>
										Materi Sekolah Dasar</a>
									</li>
									<li role="presentation" >
										<a href="#programming" aria-controls="programming" role="tab" data-toggle="tab">
										<div class="est-icon">SLTP<!--img src="img/icon/2.png" alt="icon" /--></div>
										Materi Sekolah Lanjut Tingkat Pertama</a>
									</li>
									<li role="presentation">
										<a href="#creative" aria-controls="creative" role="tab" data-toggle="tab">
										<div class="est-icon">SLTA/SMK<!--img src="img/icon/3.png" alt="icon" /--></div>
										Materi Sekolah Lanjut Tingkat Atas</a>
									</li>
									<li role="presentation">
										<a href="#online-business" aria-controls="online-business" role="tab" data-toggle="tab">
										<div class="est-icon"><!--img src="img/icon/4.png" alt="icon" /--></div>
										Materi Pembahasan Soal</a>
									</li>
									<li role="presentation">
										<a href="#social" aria-controls="social" role="tab" data-toggle="tab">
										<div class="est-icon"><!--img src="img/icon/5.png" alt="icon" /--></div>
										Materi Pembelajaran/Tutorial</a>
									</li>
								</ul>
								<!-- End Intro Courses Nav  -->
								<!-- Start Intro Courses Tab panes -->
								<div class="tab-content padding-t50">
									<!-- Start single item-->
									<div role="tabpanel" class="tab-pane fade" id="online">
										<div class="row">
											<div class="col-md-9 text-left">
												<div class="intro-caption padding50">
													<h2 class="section-title">Bimbel Guru Ahli</h2>
													<p> Bimbel Guru Ahli adalah Portal Belajar Online dengan Bahan Ajar yang di sesuaikan dengan Kurikulum Nasional dari Kementerian Pendidikan Dan Kebudayaan Republik Indonesia untuk SD, SMP dan SMA disampaikan dalam bentuk Multimedia (Video, Audio, Gambar, Animasi), tersedia Bank soal Ujian Nasional (UN) dan pembahasannya dari 3 tahun yang lalu sangat bermanfaat bagi siswa yang akan menempuh UN sebagai acuan prediksi soal UN yang akan datang. Tersedia juga Bank soal untuk masuk perguruan tinggi negeri seperti SNMPTN, Simak UI, UMB, UMPTN dan lain-lain.
													</p>
													<p>Menyelenggarakan juga pembelajaran jarak jauh dimana guru dan siswa yang berada di tempat yang terpisah jauh sampai di luar negeripun dapat berinteraksi terjadi proses belajar mengajar layaknya seperti belajar di kelas konvensional (tatap muka), pembelajaran ini menggunakan Teknologi Virtual Class dengan Infrastruktur yang canggih didukung beberapa Provider Jaringan seperti Telkomsel, TELKOM menggunakan EVDO dan Wifi Indonesia (wifi.id).</p>
													<a href="#" class="estut-btn" >Beli Voucher Belajar</a>
												</div>
											</div>
											<div class="col-md-3 text-right">
												<div class="intro-img">
													<img src="{$host}__assets/template/img/semangat.jpg" alt="intro img" />
												</div>
											</div>
										</div>
									</div>
									<!-- End single item-->
									<div  role="tabpanel" class="tab-pane fade in active" id="programming">
										<div class="row">
											<div class="col-md-9 text-left">
												<div class="intro-caption padding50">
													<h2 class="section-title">Bimbel Guru Ahli</h2>
													<p> Bimbel Guru Ahli adalah Portal Belajar Online dengan Bahan Ajar yang di sesuaikan dengan Kurikulum Nasional dari Kementerian Pendidikan Dan Kebudayaan Republik Indonesia untuk SD, SMP dan SMA disampaikan dalam bentuk Multimedia (Video, Audio, Gambar, Animasi), tersedia Bank soal Ujian Nasional (UN) dan pembahasannya dari 3 tahun yang lalu sangat bermanfaat bagi siswa yang akan menempuh UN sebagai acuan prediksi soal UN yang akan datang. Tersedia juga Bank soal untuk masuk perguruan tinggi negeri seperti SNMPTN, Simak UI, UMB, UMPTN dan lain-lain.
													</p>
													<p>Menyelenggarakan juga pembelajaran jarak jauh dimana guru dan siswa yang berada di tempat yang terpisah jauh sampai di luar negeripun dapat berinteraksi terjadi proses belajar mengajar layaknya seperti belajar di kelas konvensional (tatap muka), pembelajaran ini menggunakan Teknologi Virtual Class dengan Infrastruktur yang canggih didukung beberapa Provider Jaringan seperti Telkomsel, TELKOM menggunakan EVDO dan Wifi Indonesia (wifi.id).</p>
													<a href="#" class="estut-btn" >Beli Voucher Belajar</a>
												</div>
											</div>
											<div class="col-md-3 text-right">
												<div class="intro-img">
													<img src="{$host}__assets/template/img/semangat.jpg" alt="intro img" />
												</div>
											</div>
										</div>
									</div>
									<div  role="tabpanel" class="tab-pane fade" id="creative">
										<div class="row">
											<div class="col-md-9 text-left">
												<div class="intro-caption padding50">
													<h2 class="section-title">Bimbel Guru Ahli</h2>
													<p> Bimbel Guru Ahli adalah Portal Belajar Online dengan Bahan Ajar yang di sesuaikan dengan Kurikulum Nasional dari Kementerian Pendidikan Dan Kebudayaan Republik Indonesia untuk SD, SMP dan SMA disampaikan dalam bentuk Multimedia (Video, Audio, Gambar, Animasi), tersedia Bank soal Ujian Nasional (UN) dan pembahasannya dari 3 tahun yang lalu sangat bermanfaat bagi siswa yang akan menempuh UN sebagai acuan prediksi soal UN yang akan datang. Tersedia juga Bank soal untuk masuk perguruan tinggi negeri seperti SNMPTN, Simak UI, UMB, UMPTN dan lain-lain.
													</p>
													<p>Menyelenggarakan juga pembelajaran jarak jauh dimana guru dan siswa yang berada di tempat yang terpisah jauh sampai di luar negeripun dapat berinteraksi terjadi proses belajar mengajar layaknya seperti belajar di kelas konvensional (tatap muka), pembelajaran ini menggunakan Teknologi Virtual Class dengan Infrastruktur yang canggih didukung beberapa Provider Jaringan seperti Telkomsel, TELKOM menggunakan EVDO dan Wifi Indonesia (wifi.id).</p>
													<a href="#" class="estut-btn" >Beli Voucher Belajar</a>
												</div>
											</div>
											<div class="col-md-3 text-right">
												<div class="intro-img">
													<img src="{$host}__assets/template/img/semangat.jpg" alt="intro img" />
												</div>
											</div>
										</div>
									</div>
									<div  role="tabpanel" class="tab-pane fade" id="online-business">
										<div class="row">
											<div class="col-md-9 text-left">
												<div class="intro-caption padding50">
													<h2 class="section-title">Bimbel Guru Ahli</h2>
													<p> Bimbel Guru Ahli adalah Portal Belajar Online dengan Bahan Ajar yang di sesuaikan dengan Kurikulum Nasional dari Kementerian Pendidikan Dan Kebudayaan Republik Indonesia untuk SD, SMP dan SMA disampaikan dalam bentuk Multimedia (Video, Audio, Gambar, Animasi), tersedia Bank soal Ujian Nasional (UN) dan pembahasannya dari 3 tahun yang lalu sangat bermanfaat bagi siswa yang akan menempuh UN sebagai acuan prediksi soal UN yang akan datang. Tersedia juga Bank soal untuk masuk perguruan tinggi negeri seperti SNMPTN, Simak UI, UMB, UMPTN dan lain-lain.
													</p>
													<p>Menyelenggarakan juga pembelajaran jarak jauh dimana guru dan siswa yang berada di tempat yang terpisah jauh sampai di luar negeripun dapat berinteraksi terjadi proses belajar mengajar layaknya seperti belajar di kelas konvensional (tatap muka), pembelajaran ini menggunakan Teknologi Virtual Class dengan Infrastruktur yang canggih didukung beberapa Provider Jaringan seperti Telkomsel, TELKOM menggunakan EVDO dan Wifi Indonesia (wifi.id).</p>
													<a href="#" class="estut-btn" >Beli Voucher Belajar</a>
												</div>
											</div>
											<div class="col-md-3 text-right">
												<div class="intro-img">
													<img src="{$host}__assets/template/img/semangat.jpg" alt="intro img" />
												</div>
											</div>
										</div>
									</div>
									<div  role="tabpanel" class="tab-pane fade" id="social">
										<div class="row">
											<div class="col-md-9 text-left">
												<div class="intro-caption padding50">
													<h2 class="section-title">Bimbel Guru Ahli</h2>
													<p> Bimbel Guru Ahli adalah Portal Belajar Online dengan Bahan Ajar yang di sesuaikan dengan Kurikulum Nasional dari Kementerian Pendidikan Dan Kebudayaan Republik Indonesia untuk SD, SMP dan SMA disampaikan dalam bentuk Multimedia (Video, Audio, Gambar, Animasi), tersedia Bank soal Ujian Nasional (UN) dan pembahasannya dari 3 tahun yang lalu sangat bermanfaat bagi siswa yang akan menempuh UN sebagai acuan prediksi soal UN yang akan datang. Tersedia juga Bank soal untuk masuk perguruan tinggi negeri seperti SNMPTN, Simak UI, UMB, UMPTN dan lain-lain.
													</p>
													<p>Menyelenggarakan juga pembelajaran jarak jauh dimana guru dan siswa yang berada di tempat yang terpisah jauh sampai di luar negeripun dapat berinteraksi terjadi proses belajar mengajar layaknya seperti belajar di kelas konvensional (tatap muka), pembelajaran ini menggunakan Teknologi Virtual Class dengan Infrastruktur yang canggih didukung beberapa Provider Jaringan seperti Telkomsel, TELKOM menggunakan EVDO dan Wifi Indonesia (wifi.id).</p>
													<a href="#" class="estut-btn" >Beli Voucher Belajar</a>
												</div>
											</div>
											<div class="col-md-3 text-right">
												<div class="intro-img">
													<img src="{$host}__assets/template/img/semangat.jpg" alt="intro img" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Intro Courses Tab panes -->
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<div class="testimonial-area bg-1 overlay-bg padding100">
				<div class="testimonial-container owl-controls-style-1">
					<!-- Start Single Testimonial -->
					<div class="single-testimonial text-center">
						<div class="client-pic">
							<!--img class="img-circle" src="img/testimonial/1.png" alt="" /-->
						</div>
						<p>Haii Asikk lo belajar Online <br /> </p>
						<p class="client-name">Goyz87</p>
						<p class="review-date">2 hari lalu</p>
					</div>
					
					<div class="single-testimonial text-center">
						<div class="client-pic">
							<!--img class="img-circle" src="img/testimonial/1.png" alt="" /-->
						</div>
						<p>Belajar secara Santai bisa dimana aja </p>
						<p class="client-name">Yogi P</p>
						<p class="review-date">3 hari lalu </p>
					</div>
					<!-- End Single Testimonial -->
					<!-- Start Single Testimonial -->
					<div class="single-testimonial text-center">
						<div class="client-pic">
							<!--img class="img-circle" src="img/testimonial/1.png" alt="" /-->
						</div>
						<p>Asyo Semangat Ya Adik..adik...</p>
						<p class="client-name">Mamen</p>
						<p class="review-date">5 hari lalu</p>
					</div>
					<!-- End Single Testimonial -->
				</div>
			</div>
			<section class="search-area bg-color-2 fix ">
				<div class="search-lside one-half">
					<!--img src="img/others/1.jpg" alt="" /-->
				</div>
				<div class="search-rside one-half padding85 padding-left65">
					<div class="area-headding color-white text-left">
						<h2 class="section-title">Cari Materi</h2>
						<p>Pencarian Materi Pembelajaran</p>
					</div>
					<div class="search-form-2" >
						<form action="#">
							<select>
								<option value="What do you want to learn today?">SD</option>
								<option value="Should I call or email you?">SLTP</option>
								<option value="What is the meaning of this?">SLTA/SMK</option>
							</select> 
							<input type="text" placeholder="Materi"/>
							<input type="submit" value="Cari..." class="estut-btn" style="margin-bottom:10px;"/>
						</form>
					</div>
				</div>
			</section>
			
			<section class="counter-area bg-1 overlay-bg padding65">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="counter-list">
								<div class="s-counter">
									<div class="counter-box">
										<h2 class="counter">532</h2>
										<h5 class="count-title">JUMLAH BIMBEL SD</h5>
									</div>
								</div>
								<div class="s-counter">
									<div class="counter-box">
										<h2 class="counter">460</h2>
										<h5 class="count-title">JUMLAH BIMBEL SLTP</h5>
									</div>
								</div>
								<div class="s-counter">
									<div class="counter-box">
										<h2 class="counter">1840</h2>
										<h5 class="count-title">JUMLAH BIMBEL SLTA</h5>
									</div>
								</div>
								<div class="s-counter">
									<div class="counter-box">
										<h2 class="counter">298</h2>
										<h5 class="count-title">TOTAL</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			